<div class="container">
  <app-cockfit
    (serverAdded)="onServerAdded($event)"
    (blueprintAdded)="onBlueprintAdded($event)"
    (serverReseted)="onResetServer()"
  ></app-cockfit>
  <hr />
  <div class="row">
    <app-server-component
      *ngFor="let item of serverElements"
      [srvElement]="item"
    >
      <app-card>
        <div cardTitle>{{ item.name }}</div>
        <div cardSubtitle>
          <ng-container *ngIf="item.type === 'server'; else elseBlock">
            <strong style="color: red">{{ item.content }}</strong>
          </ng-container>
          <ng-template #elseBlock>
            <em style="color: blue">{{ item.content }}</em></ng-template
          >
        </div>
      </app-card>
    </app-server-component>
  </div>
</div>
