<div class="container">
  <app-cockfit
    (serverAdded)="onServerAdded($event)"
    (blueprintAdded)="onBlueprintAdded($event)"
    (serverReseted)="onResetServer()"
  ></app-cockfit>
  <hr />
  <div class="row">
    <app-server-component
      *ngFor="let item of serverElements"
      [srvElement]="item"
    >
      <app-card>
        <span cardTitle>{{ item.name }}</span>
        <span cardSubtitle>
          <strong
            *ngIf="item.type === 'server'; else elseBlock"
            style="color: red"
            >{{ item.content }}</strong
          >
          <ng-template #elseBlock>
            <em style="color: blue">{{ item.content }}</em></ng-template
          >
        </span>
      </app-card>
    </app-server-component>
  </div>
</div>
